body{  
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: (3,1fr);
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Header"
        "Main"
        "Footer";
    }
footer { grid-area: Footer;}
header { grid-area: Header;}

/* CSS Header */

/* header {
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-position: center;
} */


/* CSS Nav */

nav {
    display: flex;
    justify-content: space-around;
    font-size: 110%;
    background-color: #6F4229;
    color: white;
    align-items: center;
    margin: auto;
    padding: 0.5rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: white;
    position: relative;
}

nav a:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav a:hover{
    color: #ffffff;
}
nav a:hover:after{
    width: 100%;
}

.nav-name{
    flex: 2 1 40rem;
}

.nav-logo {
    height: 50px;
    width: auto; 
    margin-right: 10px; 
}

/* CSS Footer */

footer{  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". footer-contact . footer-information ."
      ". footer-contact . footer-information ."
      ". footer-contact . footer-information ."
      "footer-copyrights footer-copyrights footer-copyrights footer-copyrights footer-copyrights";
}

footer {
    width: 100%;
    height: 100%;
    color : white;
    font-size: 70%;
    background-color: #4C4844;
    white-space: nowrap;
}

footer h3{
    text-decoration: underline;
}

footer a{
    text-decoration: none;
    color: white;;
}

footer a:hover{
    color: lightgray;
}

footer ul li {
    list-style-type: none;
    padding-bottom: 10px;
}



.footer-contact {
    grid-area: footer-contact;
}

.footer-contact ul{
    margin-top: 12%;
}

.footer-information {
    text-align: left;
    grid-area: footer-information;
}

.footer-copyrights {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: footer-copyrights;
    background-color: #373634;
}



@media screen and (max-width: 768px) {

    /* CSS Nav */

    nav, footer{
        font-size: 80%;
    }

    nav ul li {
        margin: 0 10px;
    }

    .nav-logo {
        height: 60px;
    }

    .nav-connect-page a{
        white-space: nowrap;
    }

    .nav-name{
        white-space: nowrap;
    }

    /* CSS Footer */

    footer{
        font-size: 40%;
    }

    main{
        min-height: 150vh;
    }

}


main{
    grid-area: Main;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url('../images/main_background.jpg');
}

.wrapper{
    background-color: #ba744ef7;
    color: #ffffff;
    margin: 5%;
    padding: 5%;
    border-radius: 30px;
}
.wrapper h1{
    font-size: medium;
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    justify-items: center;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    padding-left: 5%;
}
.input-box input::placeholder{
    color: #ffffff;
}
.input-box i {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px
}
.wrapper .remember{
    font-size: medium;
    margin: 5% 0 5%;
    width: 100%;
}
.remember label input{
    accent-color: #fff;
    margin: 2%;
}
.remember a {
    color: #fff;
    text-decoration: none;
}
.remember a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 40px;
    background: #fff;
    outline: none;
    box-shadow: #551010e5;
    cursor: pointer;
    font-size: 15px;
    color: #333;
    font-weight: 600;
}
.wrapper .inscrire{
    font-size: 14 px;
    text-align: center;
    margin-top: 5%;
}
.inscrire p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.inscrire p a:hover{
    text-decoration: underline;
}
