.container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: (3,1fr);
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Header"
    "Main"
    "Footer";
    background-color: #cdb180;
    color: #4c4a4a;
}

.head { grid-area: Header; }
.main { grid-area: Main;}
.foot { grid-area: Footer;}


body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}



/* CSS Main */

.contain {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 50px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "video video video"
        "Tableau info-1 info-2"
        "calendrier-séances calendrier-séances calendrier-séances";
    align-items: stretch;
}


/* Trailer */
.video {
    grid-area: video;
    width: 100%;
    height: auto;
    justify-content: center;
    max-width: 1000px; /* largeur maximale de la vidéo */
    margin: auto;
}


/* Affiche */
.Tableau {
    grid-area: Tableau;
    width: 95%;
    object-fit: cover;
}


/* Synopsis */
.info-1 {           
    grid-area: info-1;
    align-items: start;
    padding: 20px;
    text-align: justify;
    font-size: 25px;
}


/* Info sur le film */
.info-2 { 
    grid-area: info-2;
    align-items: start;
    padding: 20px;
    text-align: justify;
    font-size: 25px;
 }

.calendrier {
    text-align: center;
    grid-area: calendrier-séances;
}

#calendar .seance {
    font-size: 0; /* Eliminate white-space between inline-block elements */
}

#calendar h2{
    font-size: 30px;
}

#calendar .bloc {
    background-color: #ba744ef7;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    color:white;
    padding: 20px;
    text-align: center;
    width: 200px;
    display: inline-block;
    margin: 10px;
    font-size: 20px; /* Reset font-size */
    
}

#calendar .bloc:hover {
    background-color: #dcb098f7;
}


/* telephone */

@media screen and (max-width: 768px) {

    /* CSS Main */

    main {
        font-size: 16px; 
    }

    .contain {  
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 10px 20px;
        grid-auto-flow: row;
        grid-template-areas:
            "Tableau"
            "info-1"
            "info-2"
            "video"
            "calendrier-séances";
        align-items: center;
    }

    /* Trailer */
    .video {
        width: 100%;
        height: auto;
        justify-content: center;
        max-width: 1000px; /* largeur maximale de la vidéo */
        margin: auto;
    }


    /* Affiche */
    .Tableau {
        grid-area: Tableau;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }


    /* Synopsis */
    .info-1 {           
        grid-area: info-1;
        align-items: start;
        padding: 20px;
        text-align: justify;
        font-size: 27px;
    }


    /* Info sur le film */
    .info-2 { 
        grid-area: info-2;
        align-items: start;
        padding: 20px;
        text-align: justify;
        font-size: 27px;
     }

    .calendrier {
        text-align: center;
        grid-area: calendrier-séances;
    }

    #calendar .seance {
        font-size: 0; /* Eliminate white-space between inline-block elements */
    }

    #calendar .bloc {
        background-color: #ba744ef7;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        color:white;
        padding: 5px;
        text-align: center;
        display: inline-block;
        width: 35%; /* Les blocs prendront 45% de la largeur de l'écran, permettant d'afficher deux blocs côte à côte */
        margin: 2.5%; /* Ajoute une marge autour des blocs pour créer un espace entre eux */  
        font-size: 20px;
    }

    #calendar .bloc:active {
        background-color: #dcb098f7;
    }
