/* CSS Header */

header {
    height: 100vh; 
    width: 100%;
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-position: center;
}


/* CSS Nav */

nav {
    display: flex;
    justify-content: space-around;
    font-size: 110%;
}


nav {
    background-color: #6F4229;
    color: white;
    min-height: 10vh;
    align-items: center;
    margin: auto;
    padding: 0.5rem;

}

nav ul {
    list-style-type: none;
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: white;
    position: relative;
}

nav a:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav a:hover{
    color: #ffffff;
}
nav a:hover:after{
    width: 100%;
}

.nav-name{
    flex: 2 1 40rem;
}

.nav-logo {
    height: 50px;
    width: auto; 
    margin-right: 10px; 
}


@media screen and (max-width: 768px) {

    /* CSS Nav */

    nav, footer{
        font-size: 80%;
    }

    nav ul li {
        margin: 0 10px;
    }

    .nav-logo {
        height: 60px;
    }

    .nav-connect-page a{
        white-space: nowrap;
    }

    .nav-name{
        white-space: nowrap;
    }
}