.container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: (3,1fr);
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header"
      "Main"
      "Footer";
  }
  

.head { grid-area: Header; }

.main { grid-area: Main;}

.foot { grid-area: Footer;}

  

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* CSS Main */

.main-container {  display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 0.6fr repeat(4,1fr);
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". .  mainTitre mainTitre mainTitre . ."
      ". Film1 . Film2 . Film3 ."
      ". Film4 . Film5 . Film6 ."
      ". Film7 . Film8 . Film9 ."
      ". Film10 . Film11 . Film12 .";
}

.main-titre {grid-area: mainTitre;}
.film-1 {grid-area: Film1;}
.film-2 {grid-area: Film2;}
.film-3 {grid-area: Film3;}
.film-4 {grid-area: Film4;}
.film-5 {grid-area: Film5;}
.film-6 {grid-area: Film6;}
.film-7 {grid-area: Film7;}
.film-8 {grid-area: Film8;}
.film-9 {grid-area: Film9;}
.film-10 {grid-area: Film10;}
.film-11 {grid-area: Film11;}
.film-12 {grid-area: Film12;} 

.main{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url('../images/main_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.main a img {
    max-width: 110%;
    padding-bottom: 100px;
}

.main h1 {
    margin-top: 10%;
    text-align: center;
    text-decoration: underline;
    font-family: cursive;
}

.main a {
    transition: transform .2s;
}

.main a:hover{
    transform: scale(1.1);
}





@media screen and (max-width: 768px) {

    /* CSS Main */

    .main {
        background-color: #f0e0c6;
        background-image: none;
    }

    .main-container {  display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.7fr repeat(6,1fr);
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          ". mainTitre mainTitre mainTitre ."
          ". Film1 . Film2 ."
          ". Film3 . Film4 ."
          ". Film5 . Film6 ."
          ". Film7 . Film8 ."
          ". Film9 . Film10 ."
          ". Film11 . Film12 .";
    
    }

    .main h1{
        white-space: nowrap;
        font-size: 150%;
    }

}