.container {  display: grid;
    grid-template-columns: 0.8fr 1.2fr 1fr;
    grid-template-rows: 0.6fr 0.2fr 1.8fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "main main main"
      "footer footer footer";
  }
  
  .header { grid-area: header; }
  
  .nav { grid-area: nav; }
  
  .main {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "image-film formulaire formulaire"
      ". formulaire formulaire"
      ". formulaire formulaire";
    grid-area: main;
  }
  
  .formulaire { grid-area: formulaire; }
  
  .image-film { grid-area: image-film; }
  
  .footer { grid-area: footer; }
  