

main{
    grid-area: Main;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 150vh;
    background:  #b6714c;
}

main a img {
    max-width: 110%;
    padding-bottom: 100px;
}

.wrapper{
    background-color: #f0e0c6;
    color: #000000;
    margin: 5%;
    padding: 5%;
    border-radius: 30px;
}
.wrapper h1{
    font-size: medium;
    text-align: center;
}

.wrapper .btn{
    width: 25%;
    height: 100%;
    border: none;
    border-radius: 40px;
    background: #fff;
    outline: none;
    box-shadow: #551010e5;
    cursor: pointer;
    font-size: 15px;
    color: #333;
    font-weight: 600;
    margin-left: 0%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
}
h3{
    width: 15%;
}

